body {
  margin: 0px;
  padding: 0px;
  background-color: #fafbfc;
}

.top {
  background-color: #026aa7;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  cursor: default;
  opacity: 0.5;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
  background-size: 80px 30px;
}
.logo:hover {
  color: #e7e9ed;
  opacity: 0.8;
}
.center {
  background-color: #fafbfc;
}

.buttonAddList {
  background-color: #e7e9ed;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  height: 25px;
  width: 250px;
}
.buttonAddListVisible {
  visibility: collapse;
}
.buttonAddList:hover {
  background-color: gray;
}

.newBlock {
  background-color: #ebecf0;
  visibility: collapse;
  width: 100%;
  height: 90px;
  border-radius: 10px;
}

.newBlockVisible {
  visibility: visible;
}

.buttonAcceptList {
  background-color: green;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 126px;
  color: white;
  cursor: pointer;
}

.buttonAcceptList:hover {
  background-color: #61bd4f;
}
.inputNameList {
  margin: 10px;
}
.buttonCancelList {
  position: relative;
  left: 160px;
  bottom: 35px;
  cursor: pointer;
  width: 15px;
}

.List {
  background-color: #ebecf0;
  border-radius: 10px;
  margin-top: 7px;
}

.buttonDeleteList {
  position: relative;
  left: 245px;
  bottom: 61px;
  cursor: pointer;
  width: 15px;
}

.buttonAddCard {
  width: 170px;
  cursor: pointer;
  padding: 5px;
  margin-left: 7px;
}

.buttonAddCard:hover {
  background-color: #dadbe2;
}

.listName {
  padding: 10px;
  font-weight: bold;
}
.columnList {
  display: flex;
  width: 270px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 55px;
  visibility: collapse;
}

.columnListVisible {
  visibility: visible;
}
